[submodule "streamcast"]
	path = streamcast
    url = https://github.com/radio-aktywne/streamcast.git
    update = rebase

[submodule "fusion"]
    path = fusion
    url = https://github.com/radio-aktywne/fusion.git
    update = rebase

[submodule "emistream"]
    path = emistream
    url = https://github.com/radio-aktywne/emistream.git
    update = rebase

[submodule "emipass"]
    path = emipass
    url = https://github.com/radio-aktywne/emipass.git
    update = rebase

[submodule "emigate"]
    path = emigate
    url = https://github.com/radio-aktywne/emigate.git
    update = rebase

[submodule "emiweb"]
    path = emiweb
    url = https://github.com/radio-aktywne/emiweb.git
    update = rebase
