[submodule "emiweb"]
    path = emiweb
    url = https://github.com/radio-aktywne/emiweb.git
    update = rebase

[submodule "emigate"]
    path = emigate
    url = https://github.com/radio-aktywne/emigate.git
    update = rebase

[submodule "autho"]
    path = autho
    url = https://github.com/radio-aktywne/autho.git
    update = rebase

[submodule "webauth"]
    path = webauth
    url = https://github.com/radio-aktywne/webauth.git
    update = rebase

[submodule "authe"]
    path = authe
    url = https://github.com/radio-aktywne/authe.git
    update = rebase

[submodule "authe-db"]
    path = authe-db
    url = https://github.com/radio-aktywne/authe-db.git
    update = rebase

[submodule "emipass"]
    path = emipass
    url = https://github.com/radio-aktywne/emipass.git
    update = rebase

[submodule "emistream"]
    path = emistream
    url = https://github.com/radio-aktywne/emistream.git
    update = rebase

[submodule "emirecorder"]
    path = emirecorder
    url = https://github.com/radio-aktywne/emirecorder.git
    update = rebase

[submodule "emiarchive"]
    path = emiarchive
    url = https://github.com/radio-aktywne/emiarchive.git
    update = rebase

[submodule "fusion"]
    path = fusion
    url = https://github.com/radio-aktywne/fusion.git
    update = rebase

[submodule "streamcast"]
	path = streamcast
    url = https://github.com/radio-aktywne/streamcast.git
    update = rebase
